:root {
  --primary-color: #198754;
  --secondary-color: #146c43;
  --darker-green: #064327;

  --bs-link-color: var(--primary-color);
  --bs-link-hover-color: var(--secondary-color);
}

.btn {
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-active-bg: var(--darker-green);
  --bs-btn-active-border-color: var(--darker-green);
}

.app__logo {
  width: 3rem;
}

.carousel-item {
  height: 30rem;
}

.carousel-item::before {
  content: '';
  position: absolute;
  background: linear-gradient(transparent, rgb(31, 31, 31));
  height: 100%;
  width: 100%;
}

.carousel-item__img,
.card__img,
.coffee-cards__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.coffee-cards__img {
  height: 15rem;
}
.coffee-cards__card {
  height: 25rem;
}

.container:target {
  scroll-margin-top: 6rem;
}
