.btn {
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #146c43;
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #146c43;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-active-bg: #064327;
  --bs-btn-active-border-color: #064327;
}

.app__logo {
  width: 3rem;
}

.carousel-item {
  height: 30rem;
}

.carousel-item::before {
  content: '';
  position: absolute;
  background: linear-gradient(transparent, rgb(31, 31, 31));
  height: 100%;
  width: 100%;
}

.carousel-item__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
